<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>foodfinder</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

<%if logged_in? %>
  Logged in as <%= current_customer.email %>
  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete" >
    <button>logout</button>
  </form>
<% end %>

  <h1>Food Finder</h1>
  <form action="/search">

    <h3> Food Name </h3>
    <input type="text" name="keyword" placeholder="enter name of food">
    $<input type="text" name="price" placeholder="max amount">
    <button>Search</button>

  </form>

  <%= yield %>

</body>
