
<form class="signin" action="/create_account" method="post">
  <h2> Sign up </h2>

  <label> First Name </label>
  <input type="text" name="fname">

  <label> Last Name</label>
  <input type="text" name="lname">

  <label> email</label>
  <input type="text" name="email">

  <label> New Password </label>
  <input type="pws" name="password">

  <button>Sign in</button>
</form>
